$Wipone6:414px;
$Hipone6:700px;

html,body{
    width: 100%;
}
.page{
    width: 100%;
}
.nav{
    height: 32px;
    border-bottom: 1px solid #D1D1D1;
    font-size: 14px;
    line-height: 30px;
    padding: 0 percentage(28px / $Wipone6);
    color: rgba($color: #000000, $alpha: 0.7)
}
.child{
    height: 70px;
    padding: 0 percentage(28px / $Wipone6);
    display: flex;
    justify-content: flex-start;
   .left{
      line-height: 70px;
   }
   .right{
    margin-left:percentage(14px / $Wipone6);
    line-height: 70px;
    border-bottom: 1px solid #D1D1D1;
    flex: 1;
    position: relative;
    .weui-btn{
       position: absolute;
       right: 0;
       top:12px;
       width: 114px;
       height: 44px;
       line-height: 44px;
       background: #3578A4;
    }
   }
}
.lan{
   
   
    background: #3578A4;
    margin: 0 percentage(28px / $Wipone6);
}
.next{
margin-top: 50px;
}